<!DOCTYPE html>
<html>
<head>
  <title>Your Name - Audio</title>
</head>
<link rel="stylesheet" href="./theme.css">
<link rel="stylesheet" href="./theme.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SARA NASIF</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="audio.html">Audio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list.html">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table.html">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="video.html">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="storeFront.html">Store Front</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1 class="mt-4 text-center">Welcome to the Audio page</h1>
  
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="mt-4">HTML5 Audio Player</h2>
        <div class="text-center">
          <audio controls class="audio-player">
            <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
            <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="audio/ogg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p class="text-center">This section contains an HTML5 audio player with an audio source.</p>
      </div>
    </div>
  </div>
  
</body>
</html>
